extends layout

block content
  script(src='/javascripts/edit-profile.js', type='text/javascript')
  div.container-fluid
    div.page-header.text-center
      h1 edit profile settings
    div.row
      div.col-md-4.text-center
        div.signup-wall
          h3.fa.fa-user   
            b Local Information
          
          if user.local.username
            ul.user-details(style='list-style-type:none')
              li full name: #{user.local.fullName}
              li username: #{user.local.username}
              li email: #{user.local.email}
            a(href='/auth/unlink/local', class='btn btn-primary unlink-button') unlink
          else
            br
            a(href='/auth/connect/local', class='btn btn-primary link-button') connect local
          br
          br

        div.signup-wall
          h3.fa.fa-facebook   
            b Facebook
          
          if user.facebook.token
            ul.user-details(style='list-style-type:none')
              li full name: #{user.facebook.fullName}
              li email: #{user.facebook.email}
            a(href='/auth/unlink/facebook', class='btn btn-primary unlink-button') unlink
          else
            br
            a(href='/auth/connect/facebook', class='btn btn-primary link-button') connect Facebook

      div.col-md-4.text-center
        div.signup-wall
          h3.fa.fa-twitter   
            b Twitter
          
          if user.twitter.token
            ul.user-details(style='list-style-type:none')
              li full name: #{user.twitter.fullName} 
              li username: #{user.twitter.username}
            a(href='/auth/unlink/twitter', class='btn btn-primary unlink-button') unlink
          else
            br
            a(href='/auth/connect/twitter', class='btn btn-primary link-button') connect Twitter
          br
          br

        div.signup-wall
          h3.fa.fa-google-plus   
            b Google+
          
          if user.google.token
            ul.user-details(style='list-style-type:none')
              li full name: #{user.facebook.fullName}
              li email: #{user.google.email}
            a(href='/auth/unlink/google', class='btn btn-primary unlink-button') unlink
          else
            br
            a(href='/auth/connect/google', class='btn btn-primary link-button') connect Google+

      div.col-md-4.text-center
        .container-fluid
          .form-area.text-center
            form#uploadForm(enctype='multipart/form-data', action='/account', method='POST')
              br(style='clear:both')
              h3(style='margin-bottom: 25px; text-align: center;') 
                b add a profile picture
              input(type='file', name='userPhoto')
              br
              input#submit(type='submit', value='Upload Image', name='submit')
          .form-area.text-center
            form#aboutMeForm(class='form-aboutMe', action='/account', method='POST')
              br(style='clear:both')
              h3(style='margin-bottom: 25px; text-align: center;') 
                b add an 'About Me' section
              .form-group
                textarea#aboutMe-area.form-control(type='textarea', name='aboutMe', placeholder='tell us about yourself!', maxlength='250', rows='5')
                span.help-block
                  p#characterLeft
                #message
                  if message
                      h3.text-center.error-message #{message}
              button#submit(class='btn btn-md btn-primary btn-block', type='submit') submit

    br
    br
    div.text-center
      a(href='/profile', class='btn btn-primary profile-button') return to my profile