extends layout

block content
  script(src='//rawgithub.com/stidges/jquery-searchable/master/dist/jquery.searchable-1.0.0.min.js')
  script(src='/javascripts/friends.js', type='text/javascript')
  div.container-fluid
    div.text-center.friend-panel
          br
          br
      .row
        .col-xs-12.col-sm-offset-3.col-sm-6
          .panel.panel-default
            .panel-heading.c-list
              span.title #{user.local.fullName || user.facebook.fullName || user.twitter.fullName || user.google.fullName}'s friends:
              ul.pull-right.c-controls
                li
                  a(href='#add-friend', data-toggle='tooltip', data-placement='top', title='find more friends')
                    i.glyphicon.glyphicon-plus.add-friend
                li
                  a.hide-search(href='#', data-command='toggle-search', data-toggle='tooltip', data-placement='top', title='toggle search')
                    i.fa.fa-ellipsis-v.search-friends
            .row(style='display: none;')
              .col-xs-12
                .input-group.c-search
                  input#friend-list-search.form-control(type='text')
                  span.input-group-btn
                    button.btn.btn-default(type='button')
                      span.glyphicon.glyphicon-search.text-muted
            ul#friend-list.list-group
              - each acceptedFriend in acceptedFriends
                li.list-group-item
                  .col-xs-12.col-sm-3
                    - if (acceptedFriend.friend.userPhoto != undefined)
                      img.img-responsive.img-circle(src='../images/user-photos/#{acceptedFriend.friend.userPhoto.name}', alt='user photo')
                    - else
                      img.img-responsive.img-circle(style='width:75%', src='../images/empty-user.jpg')
                  .col-xs-12.col-sm-9
                    span.name #{acceptedFriend.friend.local.firstName} #{acceptedFriend.friend.local.lastName} 
                    - if (acceptedFriend.friend.local.username != undefined) {
                      a(href='/users/#{acceptedFriend.friend.local.username}', style='color:black')
                        i.glyphicon.glyphicon-user.text-muted.c-info(class='btn see-user-profile-button', data-toggle='tooltip', title='see user')
                    - }
                    - else if (acceptedFriend.friend.twitter.username != undefined) {
                      a(href='/users/#{acceptedFriend.friend.twitter.username}', style='color:black')
                        i.glyphicon.glyphicon-user.text-muted.c-info(class='btn see-user-profile-button', data-toggle='tooltip', title='see user')
                    - }
                    - else {
                      a(href='/users/#{acceptedFriend.friend._id}', style='color:black') 
                        i.glyphicon.glyphicon-user.text-muted.c-info(class='btn see-user-profile-button', data-toggle='tooltip', title='see user')
                    - }
                  .clearfix
              hr(style='height:50px; background-color:#74AFAD')
              - each requestedFriend in requestedFriends
                li.list-group-item
                  .col-xs-12.col-sm-3 
                    - if (requestedFriend.friend.userPhoto != undefined)
                      img.img-responsive.img-circle(src='../images/user-photos/#{requestedFriend.friend.userPhoto.name}', alt='user photo')
                    - else
                      img.img-responsive.img-circle(style='width:75%', src='../images/empty-user.jpg')
                  .col-xs-12.col-sm-5(style='vertical-align: middle') 
                    span.name #{requestedFriend.friend.local.firstName} #{requestedFriend.friend.local.lastName} 
                  .col-xs-12.col-sm-4 request sent.
                  .clearfix
              - each pendingFriend in pendingFriends
                li.list-group-item
                  .col-xs-12.col-sm-3
                    - if (pendingFriend.friend.userPhoto != undefined)
                      img.img-responsive.img-circle(src='../images/user-photos/#{pendingFriend.friend.userPhoto.name}', alt='user photo')
                    - else
                      img.img-responsive.img-circle(style='width:75%', src='../images/empty-user.jpg')
                  .col-xs-12.col-sm-5
                    span.name #{pendingFriend.friend.local.firstName} #{pendingFriend.friend.local.lastName}
                    h4(style='color:red') sent you a friend request!
                  .col-xs-12.col-sm-4
                    br
                    br
                    form(class='accept-friend', style='text-center', action='/friends', method='POST')
                      .form-group
                        input#pendingFriend(type='hidden', name='pendingFriendId', value='#{pendingFriend.friend._id}')
                        button#acceptFriend(class='btn btn-md btn-primary btn-block', type='submit') accept request  
                  .clearfix

      #addFriend.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
        .modal-dialog.modal-sm.animated
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4.modal-title.text-center
                strong
                  | FIND YOUR FRIENDS
            .modal-body
              .container-fluid
                form(class='find-friend', style='text-center', action='/friends', method='POST')
                  .form-group
                    .error
                    input#friendName(type='text', name='friendName', class='form-control', placeholder='enter their full name', required)
                    br
                    button#findFriend(class='btn btn-md btn-primary btn-block', type='submit') submit