extends layout

block content
  div.container-fluid
      div.col-md-4.text-center.profile-panel
        h3 
          b your reaDig profile
          br
          br
          .info-card
            - if (user.userPhoto != undefined)
              img(style='width:75%', src='../images/user-photos/#{user.userPhoto.name}')
            - else
              img(style='width:75%', src='../images/empty-user.jpg')
            .info-card-details.animate
              .info-card-header
                h1 #{user.local.fullName || user.facebook.fullName || user.twitter.fullName || user.google.fullName}
                h3(style='color:#558C89') #{user.local.username || user.twitter.username}
              .info-card-detail
                if user.aboutMe
                  p #{user.aboutMe}
                  span.glyphicon.glyphicon-edit
                else
                  form(class='form-aboutMe', action='/profile', method='POST')
                    input(type='text', name='aboutMe', class='form-control', placeholder='tell us something about you!', autofocus)
                .social
                  if user.facebook.token
                    a.social-icon.facebook.animate(href='#{user.facebook.url}', class='[ ]')
                      span.fa.fa-facebook
                  if user.twitter.token
                    a.social-icon.twitter.animate(href='#{user.twitter.url}', class='[ ]')
                      span.fa.fa-twitter
                  if user.google.token
                    a.social-icon.google-plus.animate(href='#{user.google.url}', class='[ ]')
                      span.fa.fa-google-plus
          .info-overview
            .row.overview
              .col-md-4.user-pad.text-center
                h3(href='/profile') books
                |                     
                h4 33
              |                 
              .col-md-4.user-pad.text-center
                h3
                a(href='/reviews', style='color:black') reviews
                |                     
                h4 #{user.reviews.length}
              |                 
              .col-md-4.user-pad.text-center
                h3 friends
                |                     
                h4 10
          br          
          a(href='/account', class='btn btn-primary profile-button') edit profile            

      div.col-md-4

      div.col-md-4
        .container-fluid
          .form-area.text-center
            form(class='form-review', action='/profile', method='POST')
              br(style='clear:both')
              h3(style='margin-bottom: 25px; text-align: center;') 
                b tell us about a book you've read!
              .form-group
                input(type='text', name='bookName', class='form-control', placeholder='book name', required, autofocus)
              #message
                if message
                  h3.text-center.error-message #{message}

              .form-group
                .row.lead
                  h2
                    b book rating:
                  #stars.starrr(data-connected-input='rating')
                  span.choice
                  |/5
                  br
                  input(type='hidden', name='rating', required)

              .form-group
                textarea#message-area.form-control(type='textarea', name='reviewBody', placeholder='book review (optional)', maxlength='140', rows='5')
                span.help-block
                  p#characterLeft 
              button#submit(class='btn btn-md btn-primary btn-block', type='submit') submit
          
      
